set timeout=1

menuentry "Linux lts" {
linux	/boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage,ahci,virtio-blk,virtio-pci,virtio,nvme,dm-mod,raid0,raid1,raid10,raid456,btrfs,xfs,ntfs3,exfat,f2fs,mmc_block
initrd	/boot/initramfs-lts
}
